@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins&family=Source+Sans+Pro&display=swap');

.alert__terms-of-service {
    align-items: center;
    background-color: rgb(234, 232, 228);
    display: flex;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 650;
    height: 40px;
    width: 100%;
    justify-content: center;
}

.alert__terms-of-service > .terms-of-service__text {
    margin-bottom: auto;
    margin-top: auto;
}

.alert__terms-of-service a {
    border-bottom: 0.5px solid rgb(194, 194, 194);
    color: #28400c;
    text-decoration: none;
}

.nav-bar {
    position: sticky;
    top: 0px;
    background-color: #f3f2ef;
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 24px;
    width: 1232px;
    margin: 0 auto;
    z-index: 1000;
}

.nav-bar__logo img {
    background: transparent;
    height: 25.66px;
    width: 154px;
}

.nav-bar__links {
    display: flex;
    font-size: 16px;
    text-decoration: none;
}

.nav-bar__links .nav-bar__link {
    margin: auto 0;
    padding: 0 12px;
}

.nav-bar button {
    background-color: rgb(0, 197, 133);
    color: rgb(255, 255, 255);
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
    height: 36px;
    padding: 6px 16px 8px;
    transition: background 0.2s ease 0s;
    white-space: nowrap;
    margin-left: 24px;
}

.nav-bar__link > a {
    border-bottom: 2px solid #f3f2ef;
    transition: border 0.15s linear;
}

.nav-bar__link > a:hover {
    border-bottom: 2px solid rgb(0, 197, 133);
}

.nav-bar__links button:hover {
    background-color: #f3f2ef;
    color:rgb(0, 197, 133);
    outline: 1px solid rgb(0, 197, 133);
}
