.main {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 24px;
}

.homepage-header {
    margin: 0 auto;
}

.homepage-header__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-header__text-spotlight {
    align-items: center;
    display: flex;
    height: 274px;
    justify-content: center;
    width: 1232px;
}

.homepage-header__text-spotlight h1 {
    font-size: 62px;
    font-weight: 900;
    margin: 0;
}

.homepage-header__text-spotlight p {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    width: 60%;
}

.homepage-header__focus-area {
    height: 600px;
}

.focus-area__form-box {
    align-items: center;
    background-color: rgb(243, 242, 239);
    border-color: rgb(229, 234, 223);
    border-radius: 60px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
    display: flex;
    height: 120px;
    margin: 0 30px;
    padding-left: 48px;
    padding-right: 48px;
}

.focus-area__form-box form {
    align-content: center;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    width: 100%;
}

.focus-area__form-box div {
    width: 100%;
}

.focus-area__form-box div label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    text-transform: uppercase;
}

.focus-area__form-box div input {
    border-radius: 48px;
    border: 1px solid rgb(217, 217, 217);
    color: rgb(198, 198, 198);
    font-size: 16px;
    height: 48px;
    width: 100%;
}

.focus-area__form-box .form-box__search-button {
    margin: auto;
    padding-top: 30px;
    width: min-content;
}

.focus-area__form-box button {
    background-color: #00C585;
    border-radius: 50%;
    border: none;
    color: white;
    height: 48px;
    transition: background-color 0.1s linear;
    transition: color 0.1s linear;
    width: 48px;
}

.focus-area__form-box button:hover {
    background-color: white;
    border: 2px solid #00C585;
    color: #00C585;
}

.focus-area__form-box button i {
    padding-bottom: 5px;
}

.focus-area__image-box {
    background-size: cover !important;
    background: url('../images/camping.jpg');
    border-radius: 24px;
    height: 480px;
    overflow: hidden;
    position: relative;
    top: -70px;
    width: 100%;
    z-index: -1;
}

.help-button button {
    background-color: #454e37;
    border-radius: 999rem;
    border: none;
    bottom: 16px;
    color: white;
    font-size: 16px;
    height: 46px;
    position: fixed;
    right: 20px;
    width: 107px;
    z-index: 1000;
}

.help-button button i {
    margin-right: 5px;
}
