.main {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 24px;
}

.homepage-header {
    margin: 0 auto;
}

.homepage-header__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-header__text-spotlight {
    align-items: center;
    display: flex;
    height: 274px;
    justify-content: center;
    width: 1232px;
}

.homepage-header__text-spotlight h1 {
    font-size: 62px;
    font-weight: 900;
    margin: 0;
    text-align: center;
}

.homepage-header__text-spotlight p {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    width: 60%;
}

.focus-area__form-box {
    align-items: center;
    background-color: rgb(243, 242, 239);
    border-color: rgb(229, 234, 223);
    border-radius: 60px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
    display: flex;
    margin: 0 30px;
    padding: 20px 48px
}

.form-box__search {

 flex-basis: 150%
}

.focus-area__form-box form {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.focus-area__form-box div {
    width: 100%;
}

.focus-area__form-box div label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.focus-area__form-box div input {
    border-radius: 48px;
    border: 1px solid rgb(217, 217, 217);
    color: rgb(198, 198, 198);
    height: 48px;
    width: 100%;
}

::placeholder {
    font-size: 16px;
    padding-left: 15px;
}

.focus-area__form-box .form-box__search-button {
    margin: auto;
    padding-top: 30px;
    width: min-content;
}

.focus-area__form-box button {
    background-color: #00C585;
    border-radius: 24px;
    border: none;
    color: white;
    height: 48px;
    transition: background-color 0.1s linear;
    transition: color 0.1s linear;
    width: 48px;
}

.focus-area__form-box button:hover {
    background-color: white;
    border: 2px solid #00C585;
    color: #00C585;
}

.focus-area__form-box button i {
    padding-bottom: 5px;
}

.focus-area__image-box {
    background-size: cover !important;
    background: url('../images/camping.jpg');
    border-radius: 24px;
    bottom: 70px;
    height: 480px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: -1;
}

.help-button button {
    background-color: #454e37;
    border-radius: 999rem;
    border: none;
    bottom: 16px;
    color: white;
    font-size: 16px;
    height: 46px;
    position: fixed;
    right: 20px;
    width: 107px;
    z-index: 1000;
}

.help-button button i {
    margin-right: 5px;
}

@media screen and (max-width: 1280px) {
    .homepage-header__text-spotlight { width: 100% }
}

@media screen and (max-width: 960px) {
    .focus-area__form-box { margin: 0 }

    .form-box__search { flex: 0 1 100% }
    .form-box__dates, .form-box__guests { flex-basis: 48% }
    .focus-area__form-box form { flex-wrap: wrap ; gap: 0}
    .form-box__search-button { flex: 0 1 100% ; padding: 0}
    .form-box__search-button button { width: 100% }
    .focus-area__image-box { height: 300px }
    .focus-area__form-box { border: 0 ; border-radius: 16px ; box-shadow: none; padding: 0 0 20px}

    .help-button .help-text { display: none }
    .help-button button { width: 46px }
    .help-button button i { margin: 0 }
}

@media screen and (max-width: 600px) {
    .homepage-header__text-spotlight { height: auto }
    .homepage-header__text h1 { font-size: 40px }
    .homepage-header__text p { font-size: 18px ; font-weight: 400; width: auto }

    .form-box__dates, .form-box__guests { flex-basis: 100% }
}
